@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css?family=Lora|Open+Sans&display=swap");
.App {
    /* margin: 0 auto; */
    color: white;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.app-container {
    height: 350px;
    position: relative;
    display: flex;
    align-content: center;
    justify-content: center;
}

button {
    width: 200px;
    margin: 10px;
}